.navbar {
  padding: 20px;
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.1s;
    &:hover {
      border-bottom: 2px solid;
    }
    &--active {
      font-weight: 700;
      border-bottom: 2px solid;
    }
  }
}
